@font-face {
  font-family: 'Pretendard-Regular';
  src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  font-family: 'Pretendard-Regular';
}

li {
  list-style: none;
}

.wrap {
  width: 70%;
  margin: 0 auto;
}

.slide_wrapper {
  position: relative;
  margin: 0 auto;
  width: 1120px;
  height: 300px;
  overflow: hidden;
}

.slides {
  position: absolute;
  left: 0;
  top: 0;
  text-align: center;
}

.slides.animated {
  transition: 0.5s ease-out;
}

.slides div {
  width: 200px;
  height: 300px;
  /* background: #ccc; */
  float: left;
  /* border-radius: 50%; */
}

.slides div:not(:last-child) {
  margin-right: 30px;
}

.slides div p {
  margin-top: 10px;
}

.slides div p:nth-child(2) {
  font-weight: 600;
  font-size: 20px;
}

.slides img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
}

.controls i:nth-child(1) {
  font-size: 40px;
  color: gray;
  position: relative;
  bottom: 100px;
  cursor: pointer;
  left: 10px;
}

.controls i:nth-child(2) {
  font-size: 40px;
  color: gray;
  position: relative;
  bottom: 100px;
  left: 100%;
  cursor: pointer;
}

.container {
  display: flex;
  justify-content: space-between;
}

.container_text {
  display: flex;
  flex-direction: column;
  justify-content: center;

  padding-left: 50px;
}

.container_text p {
  font-size: 0.83333vw;
  text-align: right;
}

.container_text p:nth-child(1) {
  font-size: 1.475vw;
  text-align: right;
  margin-bottom: 26px;
}

.container_text p:nth-child(2) {
  font-size: 2.083333vw;
  text-align: right;
  font-weight: 600;
  margin-bottom: 26px;
}

/* 1920 기준 1vw = 19.2px */
.container_text p:nth-child(4) {
  margin-bottom: 16px;
}

/*  */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.inner {
  width: 60%;

}

.inner img {
  width: 100%;
  border-radius: 10px;
  margin: 20px;
}

.slides img {
  cursor: pointer;
}